body {
    width: 190px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    font-size: 12px;
    margin-bottom: -10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type=range] {
    width: 40%;
}

.downloading {
    color: orange;
}

.downloaded {
    color: green;
}

.authorization-failed {
    color: red;
}

.fade-out {
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}