body {
    width: 190px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    font-size: 12px;
    margin-bottom: -10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type=range] {
    width: 40%;
}